@use "../styles/mixins" as *;

.mainContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  .chatMessagesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.chatLayout {
  justify-content: space-between;
}

@include respond-to("small") {
  .mainContainer {
    justify-content: space-between;
  }
}
